extend layout

block content
	#coder-details
		h2= coder.name

		.figure
			img(src="/data/users/" + coder.imagePath, alt="coder")

		.info
			a.email(href="mailto:" + coder.email)= coder.email

			p.phone= coder.phone

			address= coder.address

			.skills
				p 
					each skill in coder.skills
						span= '#' + skill.toUpperCase()
						|  

		.details!= coder.bio

	form#rent-this-coder(method="post")
		h3 Rent this coder

		p.intro
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit.

		p.price
			span.currency USD$
			span.number= coder.price

		input(type="email", name="email", placeholder="Your E-Mail")

		input(type="submit", value="Rent")
